@tailwind base;
@tailwind components;
@tailwind utilities;

/* valfri egen styling */
body {
  margin: 0;
  font-family: sans-serif;
}

/* Lägg längst ner i index.css */
/* ----- För flip-effekten ----- */
[transform-style\:preserve-3d] {
  transform-style: preserve-3d;
}

[backface-visibility\:hidden] {
  backface-visibility: hidden;
}

[transform\:rotateY\(180deg\)] {
  transform: rotateY(180deg);
}

[perspective\:1000px] {
  perspective: 1000px;
}

